<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>

    <h2>Create Account</h2>
    <form method="post" action="/user/add">
        <Label>Username
            <input th:field="${user.username}" class="form-control">
        </Label>
        <p th:errors="${user.username}" style="color:red"></p>
        <br>
        <Label>Email
            <input th:field="${user.email}" class="form-control">
        </Label>
        <p th:errors="${user.email}" style="color:red"></p>
        <br>
        <Label>Password
            <input th:field="${user.password}" class="form-control">
        </Label>
        <p th:errors="${user.password}" style="color:red"></p>
        <br>
        <Label>Verify Password
            <input th:field="${user.verify}" class="form-control">
        </Label>
        <p th:errors="${user.verify}" style="color:red"></p>
        <br>
        <p th:if="@{error}" th:text="${error}" style="color:red"></p>
        <input type="submit">
    </form>

</body>
</html>